<html 
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="member_room_interface_edit_views.html" />
    <head>
        <link type="text/css" rel="Stylesheet" href="/css/common.css" />
        <link type="text/css" rel="Stylesheet" href="/css/show.css" />
        <script  src="/js/mac_address_changer.js" />
        <xi:include href="common-css-header.html" />
    </head>
    <body> 
        <xi:include href="navbar.html" />
        ${edit_banner()}
        ${back_show("member", member_ldap.uid.first())}
        <div py:choose="member_ldap">
            <span class="section_name show_section_name" py:when="None">Entrée inexistante</span>
            <div py:otherwise="">${member_view(member_ldap)}</div>
        </div>
        <div py:choose="room_ldap">
            <div class="section" py:when="None">
                <div class="section_name show_section_name">PAS DE CHAMBRE</div>
            </div>
            <div py:otherwise="">${room_view(room_ldap, rooms, member_ldap)}</div>
            <div class="section">
                <form method="post" action="/edit/room/move">
                    <span class="item_name">Changer de chambre</span>
                    <select name="room_uid">
                        <option value="">&lt;vide&gt;</option>
                        <py:for each="target_room in rooms">
                            <option value="${target_room.uid.first()}">${target_room.cn.first()}</option>
                        </py:for>
                    </select>
                    <input type="hidden" name="residence" value="${residence}"/>
                    <input type="hidden" name="member_uid" value="${member_ldap.uid.first()}"/>
                    <span>
                        <input type="submit" class="button" value="Envoyer" />
                    </span>
                </form>
            </div>
        </div>
        <xi:include href="../show/cotisation.html" />
        <div class="section">
            <form method="post" action="/edit/cotisation/add">
                <input type="hidden" name="residence" value="${residence}"/>
                <input type="hidden" name="member_uid" value="${member_ldap.uid.first()}"/>
                <xi:include href="cotisation-edit.html" />

                <div>
                    <span class="item_name"></span>
                    <input type="submit" class="button" value="Envoyer" />
                </div>
            </form>
        </div>
        <div class="section">
            <form method="post" action="/edit/member/disable">
                <input type="hidden" name="residence" value="${residence}"/>
                <input type="hidden" name="member_uid" value="${member_ldap.uid.first()}"/>
                <div>
                    <span class="item_name">déconnexion</span>
                    <input type="submit" class="button" value="desactiver" />
                </div>
            </form>
        </div>
        <div class="section">
            <form method="post" action="/edit/member/enable">
                <input type="hidden" name="residence" value="${residence}"/>
                <input type="hidden" name="member_uid" value="${member_ldap.uid.first()}"/>
                <div>
                    <span class="item_name">reconnexion</span>
                    <input type="submit" class="button" value="reactiver" />
                </div>
            </form>
        </div>
    </body>
</html>
