<html 
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="member_room_interface_edit_views.html" />
    <head>
        <link type="text/css" rel="Stylesheet" href="/css/common.css" />
        <link type="text/css" rel="Stylesheet" href="/css/show.css" />
        <link type="text/css" rel="Stylesheet" href="/css/edit.css" />
    </head>
    <body> 
        ${edit_banner()}
        ${back_show("room", room_ldap.uid.first())}
        <div py:choose="room_ldap">
            <span class="section_name" py:when="None">Pas de chambre associée</span>
            <div py:otherwise="">${room_edit_member(room_ldap, members, member_ldap)}</div>
        </div>
    </body>
</html>
