<html 
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip=""
    >
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/form-signin.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="/js/html5shiv.js"></script>
    <![endif]-->
</html>
