<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/css/show.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <!-- Le styles -->
        <xi:include href="common-css-header.html" />
    </head>
    <body>
        <xi:include href="navbar.html" />
        <div py:if="user is not None">
            <div class="section" >
                <span class="section_name show_section_name">DEBUG</span>
                <div>
                    <span class="item_name">user</span>
                    <span>${user.attrs.uid.first()}</span>
                </div>
                <div>
                    <span class="item_name">dn</span>
                    <span>${user.attrs.dn}</span>
                </div>
                <div>
                    <span class="item_name">groups</span>
                    <span>
                        <py:for each="group in user.groups.list()">${group} </py:for>
                    </span>
                </div>
            </div>
            <div class="section">
                <span class="section_name show_section_name">Nom</span>
                    <form action="/search/member/" method="post" class="inline_block">
                        <input type="hidden" name="residence" value="${residence}"/>
                        <input type="text" name="name"/>
                        <input type="submit" value="Search" class="button"/>
                    </form>
            </div>
        </div>
    </body>
</html>
