<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <link rel="stylesheet" type="text/css" href="/css/common.css" />
        <link rel="stylesheet" type="text/css" href="/css/show.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <!-- Le style -->
        <xi:include href="common-css-header.html" />
    </head>
    <body>
        <xi:include href="navbar.html" />
        <div py:if="user is not None">
            <div class="section" >
                <span class="section_name show_section_name">DEBUG</span>
                <div>
                    <span class="item_name">user</span>
                    <span>${user.attrs.uid.first()}</span>
                </div>
                <div>
                    <span class="item_name">dn</span>
                    <span>${user.attrs.dn}</span>
                </div>
                <div>
                    <span class="item_name">groups</span>
                    <span>
                        <py:for each="group in user.groups.list()">${group} </py:for>
                    </span>
                </div>
            </div>
            <div class="section">
                <span class="section_name show_section_name">RECHERCHES</span>
                <div>
                    <span class="item_name">Nom</span>
                    <form action="/search/member/" method="post" class="inline_block">
                        <input type="hidden" name="residence" value="${residence}"/>
                        <input type="text" name="name"/>
                        <input type="submit" value="Search" class="button"/>
                        <input py:if="user.groups.admin" 
                                type="submit" name="global_search" 
                                value="Search global" class="button"/>
                    </form>
                </div>
                <div>
                    <span class="item_name">E-mail</span>
                    <form action="/search/email/" method="post" class="inline_block">
                        <input type="hidden" name="residence" value="${residence}"/>
                        <input type="text" name="email"/>
                        <input type="submit" value="Search" class="button"/>
                        <input py:if="user.groups.admin" 
                                type="submit" name="global_search" 
                                value="Search global" class="button"/>
                    </form>
                </div>
                <div>
                    <span class="item_name">Mac</span>
                    <form action="/search/mac/" method="post" class="inline_block">
                        <input type="hidden" name="residence" value="${residence}"/>
                        <input type="text" name="mac"/>
                        <input type="submit" value="Search" class="button"/>
                    </form>
                </div>
                <div>
                    <span class="item_name">IP</span>
                    <form action="/search/ip/" method="post" class="inline_block">
                        <input type="hidden" name="residence" value="${residence}"/>
                        <input type="text" name="ip"/>
                        <input type="submit" value="Search" class="button"/>
                    </form>
                </div>
<!--                    <form action="/search/member_global/" method="post" class="inline_block">
                        <input type="hidden" name="myresidence" value="${residence}"/>
                        <input type="text" name="name"/>
                    </form> -->
            </div>
<!--
            <div class="section">
                <span class="section_name show_section_name">Email</span>
                    <form action="/search/email_global/" method="post" class="inline_block">
                        <input type="hidden" name="myresidence" value="${residence}"/>
                        <input type="text" name="email"/>
                    </form>
            </div>
            <div class="section">
                <span class="section_name show_section_name">Adresse mac</span>
            </div>
            <div class="section">
                <span class="section_name show_section_name">Adresse IP</span>
            </div>
-->
            <div py:if="user.groups.responsablereseau" class="section">
                <span class="section_name show_section_name">DECONNEXION GLOBALE</span>
                <div>
                    <span class="item_name"></span>
                    <form action="/edit/member/disconnectall/" method="post" class="inline_block">
                        <input type="hidden" name="residence" value="${residence}"/>
                        <input type="submit" value="Déconnexion globale" class="button"/>
                    </form>
                    <form action="/edit/member/reconnectall/" method="post" class="inline_block">
                        <input type="hidden" name="residence" value="${residence}"/>
                        <input type="submit" value="Reconnexion globale" class="button"/>
                </form>
                </div>
            </div>
        </div>
    </body>
</html>
