<html 
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip=""
    >
    <py:def function="login_widget(user)">
        <div py:choose="">
            <div py:when="user is None">
                <a href="${tg.url('/auth/login')}">Connexion</a>
            </div>
            <div py:otherwise="">
                <span>${user.attrs.cn.first()}</span> - <span>${residence}</span>
                <a href="${tg.url('/auth/logout')}">Deconnexion</a>
            </div>
        </div>
    </py:def>
</html>
