<html 
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip=""
    >
    <xi:include href="login_widget.html" />
    <div>${login_widget(user)}</div>
    <div py:if="user is not None">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Brie d'Aurore</a>
                <ul class="nav">
                    <li py:if="user.groups.admin"><a href="/rooms/index/${residence}">PIÈCES</a></li>
                    <li py:if="user.groups.admin"><a href="/members/index/${residence}">MEMBRES</a></li>
                    <li py:if="user.groups.admin"><a href="/registration/">INSCRIPTION</a></li>
                    <li py:if="user.groups.tresorier"><a href="/treasury/">TRÉSORIE</a></li>
                    <li py:if="user.groups.responsablereseau"><a href="/administration/">ADMINISTRATION</a></li>
                    <li py:if="user.residence_dn == 'dc=aurore,dc=u-psud,dc=fr'"><a href="/stats/">STATISTIQUES</a></li>
                </ul>
            </div>
        </div>
    </div>
</html>
