<html 
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="member_room_interface_views.html" />
    <head>
        <link type="text/css" rel="Stylesheet" href="/css/common.css" />
        <link type="text/css" rel="Stylesheet" href="/css/show.css" />
        <xi:include href="common-css-header.html" />
    </head>
    <body> 
        <xi:include href="navbar.html" />
        ${back_rooms(room_ldap)}
        <div py:choose="member_ldap">
            <span class="section_name show_section_name" py:when="None">Entrée inexistante</span>
            <div py:otherwise="">${member_view(member_ldap)}</div>
        </div>
        <div py:choose="room_ldap">
            <span class="section_name show_section_name" py:when="None">PAS DE CHAMBRE</span>
            <div py:otherwise="">${room_view(room_ldap)}</div>
        </div>
        <xi:include href="cotisation.html" />
        <xi:include href="plugins.html" />
    </body>
</html>
