<html 
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="member_room_interface_views.html" />
    <head>
        <link type="text/css" rel="Stylesheet" href="/css/common.css" />
        <link type="text/css" rel="Stylesheet" href="/css/show.css" />
        <xi:include href="common-css-header.html" />
    </head>
    <body> 
        <xi:include href="navbar.html" />
        ${back_rooms()}
        <a href="/edit/room/${room_ldap.uid.first()}" class="button">EDITER</a>

        <div py:choose="room_ldap">
            <span class="section_name" py:when="None">Pas de pièce associée</span>
            <div py:otherwise="">${room_view(room_ldap, member_ldap)}</div>
        </div>
    </body>
</html>
