<html 
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude"
    >
    <head>
        <link rel="stylesheet" type="text/css" href="/css/rooms.css" />
        <link rel="stylesheet" type="text/css" href="/css/common.css" />
    </head>

<!--
    <div class="rooms_legend">
        <py:def function="display_stat(name)">
            <div class="room_number ${name}">${"%03d" % stats[name]}</div>
        </py:def>
        <div>
            ${display_stat("ok_color")}
            <span>ordinateurs connectés</span>
        </div>
        <div>
            ${display_stat("non_certif_color")}
            <span>certifs manquants</span>
        </div>
        <div>
            ${display_stat("non_paye_color")}
            <span>fins de connexions passées</span>
        </div>
        <div>
            ${display_stat("vide_color")}
            <span>chambres vides</span>
        </div>
    </div>
-->
    <div class="area section">
        <span class="section_name">PREVIEW</span>
    </div>
    <div>
    <form method="post" action="/members/add/">
        <input type="hidden" name="residence" value="${residence}" />
        <input type="text" placeholder="prenom" name="prenom" /><br />
        <input type="text" placeholder="nom" name="nom" /><br />
        <input type="email" placeholder="email" name="mail" /><br />
        <input type="submit" value="GO!" />
    </form>
    </div>
    <table>
        <tr>
            <th>prenom</th>
            <th>nom</th>
            <th>chambres</th>
        </tr>
        
        <tr py:for="member in members">
            <td><a href="/show/member/${residence}/${member.uid.first()}">${member.givenName.first()}</a></td>
            <td><a href="/show/member/${residence}/${member.uid.first()}">${member.sn.first()}</a></td>
            <py:choose test="member.room">
                <td py:when="None"></td>
                <td py:otherwise=""><a href="/show/room/${residence}/${member.room.cn.first()}">${member.room.cn.first()}</a></td>
            </py:choose>
        </tr>
    </table>
</html>
