<html 
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude"
    >
    <head>
        <link rel="stylesheet" type="text/css" href="/css/rooms.css" />
        <link rel="stylesheet" type="text/css" href="/css/common.css" />
    </head>

<!--
    <div class="rooms_legend">
        <py:def function="display_stat(name)">
            <div class="room_number ${name}">${"%03d" % stats[name]}</div>
        </py:def>
        <div>
            ${display_stat("ok_color")}
            <span>ordinateurs connectés</span>
        </div>
        <div>
            ${display_stat("non_certif_color")}
            <span>certifs manquants</span>
        </div>
        <div>
            ${display_stat("non_paye_color")}
            <span>fins de connexions passées</span>
        </div>
        <div>
            ${display_stat("vide_color")}
            <span>chambres vides</span>
        </div>
    </div>
-->
    <div class="area section">
        <span class="section_name">PREVIEW</span>
        <div py:if="defined('preview')">
            <py:with vars="member_ldap, room_preview  = preview">
                <div class="room_number">
                    <span><a href="/show/room/${residence}/${room_preview.uid.first()}">${room_preview.cn.first()}</a></span>
                </div>
                <div class="preview_part preview_name" py:choose="member_ldap is not None">
                    <span py:when="True"><a href="/show/member/${residence}/${member_ldap.uid.first()}">${member_ldap.cn.first()}</a></span>
                    <span py:otherwise=""><a href="/show/room/${residence}/${room_preview.uid.first()}">Chambre Vide</a></span>
                </div>
            </py:with>
        </div>
    </div>
    <div py:for="area, floors in sorted_name(areas.iteritems())" class="area section">
        <div>
            <span class="section_name">${("Aile " + area.cn.first()).upper()}</span>
            <div py:for="floor, rooms in reverse_sorted_name(floors.iteritems())" class="floor">
                <span class="floor_name">étage ${floor.cn.first()}</span>
                <div py:for="room in rooms" class="room_number">
                    <a href="/rooms/preview/${residence}/${room.uid.first()}"><span>${room.cn.first()}</span></a>
                </div>
            </div>
        </div>
    </div>
</html>
