<html
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude"
>
    <head>
        <link type="text/css" rel="Stylesheet" href="/css/common.css" />
        <link type="text/css" rel="Stylesheet" href="/css/show.css" />
    </head>
    <body>
        <div class="section">
            <span class="section_name show_section_name">CONNEXION</span>
            <form action="/auth/login" method="post">
                <p class="error">${error}</p>
                <div>
                    <span class="item_name">Domaine</span>
                    <select name="residence">
                        <option value=""></option>
                        <py:for each="residence in residences">
                            <py:choose test="residence.cn.first() == residence">
                                <option py:when="True" selected="selected" value="${residence.cn.first()}">
                                    ${residence.cn.first()}
                                </option>
                                <option py:otherwise="" value="${residence.cn.first()}">
                                    ${residence.cn.first()}
                                </option>
                            </py:choose>
                        </py:for>
                    </select>
                </div>
                <div>
                    <span class="item_name">Utilisateur</span>
                    <input name="username" type="text" value="${login}" />
                </div>
                <div>
                    <span class="item_name">Mot de passe</span>
                    <input name="password" type="password" />
                </div>
                <input type="submit" value="SOUMETTRE"/>
            </form>
        </div>
        <div class="section">
            <img src="http://www.aurore.u-psud.fr/zabbix/chart2.php?graphid=607&amp;period=21600" style="display:inline; width:49%" />
            <img src="http://www.aurore.u-psud.fr/zabbix/chart2.php?graphid=629&amp;period=21600" style="display:inline; width:49%" />
        </div>
    </body>
</html>
