<html>
    <head>
        <link type="text/css" rel="Stylesheet" href="/css/common.css" />
        <link type="text/css" rel="Stylesheet" href="/css/show.css" />
    </head>
    <body>
        <div class="section">
            <span class="section_name show_section_name">CONNEXION</span>
            <form action="/auth/login" method="post">
                <p class="error">${error}</p>
                <div>
                    <span class="item_name">Utilisateur</span>
                    <input name="username" type="text" value="${login}" />
                </div>
                <div>
                    <span class="item_name">Mot de passe</span>
                    <input name="password" type="password" />
                </div>
                <input type="submit" value="SOUMETTRE"/>
            </form>
        </div>
    </body>
</html>
