html {
    font-family: sans-serif;
    color: #444444;
}

a {
   color: #444444;
   text-decoration: none;
}

a:hover, input[type="button"]
{
    color: white;
    background-color: black;
}

.section {
    font-family: sans-serif;
    margin-bottom: 20px;
}

.section_name, .section_name_no_caps {
    color: grey;
    font-weight: bold;
    margin-bottom: 6px;
    display: inline-block;
}

.section_name {
    text-transform: capitalize;
}


.button {
    margin: 2px;
    padding: 3px;
    font-weight: bold;
    background-color: #e0e0e0;
}

.link_button {
    text-decoration: underline;
    color: #e0e0e0;
}

.some_margin {
    margin-left: 20px;
}

input[type="submit"]
{
    border: none;
    padding: 5px;
}


